* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0; }

p, li, a, h1, h2, span, input {
  font-family: "Lato"; }

.wrapper {
  margin: auto; }

.wrapper, header, header ul, main, .info, .photoBox, .shop, footer {
  width: 100%;
  max-width: 1600px; }

h1 {
  font-size: 18px;
  font-weight: 700;
  color: #353738; }

p {
  font-size: 18px;
  font-weight: 400; }

a {
  font-weight: 700;
  font-size: 13px;
  text-decoration: none; }

li {
  display: inline-block;
  list-style: none; }

.photos li p {
  font-size: 16px; }

span {
  font-size: 18px;
  font-weight: 300; }

header, .info, .shop {
  text-align: center; }

header {
  height: 770px;
  padding-top: 30px;
  background: url(../img/header/headerBG.png) center top repeat-x; }
  header ul {
    height: 90px; }
    header ul li {
      margin-left: 35px;
      margin-right: 35px;
      vertical-align: middle; }
  header a {
    color: #4d4959; }

main .info {
  height: 355px;
  padding-top: 115px; }
  main .info h1 {
    margin-top: 30px;
    margin-bottom: 30px; }
  main .info p {
    display: inline-block;
    width: 67%;
    padding-left: 16.5%;
    padding-right: 16.5%;
    color: #848789;
    line-height: 33px; }
  main .info img {
    margin: auto;
    display: block;
    margin-bottom: 35px; }
  main .info input {
    display: inline-block;
    margin: auto;
    width: 370px;
    padding: 25px 5px 25px 25px;
    margin-top: 35px;
    border: 1px solid lightgrey;
    font-size: 20px;
    vertical-align: top; }
  main .info a {
    width: 125px;
    display: inline-block;
    padding-top: 23px;
    margin-top: 35px;
    padding-bottom: 24px;
    text-align: center;
    color: white;
    font-size: 24px;
    background: #64c29e;
    vertical-align: top; }
main .info:nth-of-type(1) h1 {
  letter-spacing: 5px;
  word-spacing: 10px; }
main .info:nth-of-type(3) h1 {
  letter-spacing: 1px;
  word-spacing: 6px; }
main .shop {
  background: #282f35;
  height: 125px;
  padding-top: 75px; }
  main .shop a {
    padding: 18px 55px;
    display: inline-block;
    color: white;
    background: #282f35;
    border: 1px solid #94979a;
    font-size: 14px;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s; }
  main .shop a:hover {
    box-shadow: 0px 5px 47px -12px black, 0px 15px 0px -11px white;
    margin-top: -5px;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05); }
main .box2 {
  height: 530px; }
  main .box2 ul {
    width: 100%; }
  main .box2 > ul li {
    width: 17%;
    float: left;
    height: 530px;
    width: 267px; }
  main .box2 > ul li:nth-of-type(1) {
    background: #000; }
    main .box2 > ul li:nth-of-type(1) ul li {
      height: 265px; }
    main .box2 > ul li:nth-of-type(1) ul li:nth-of-type(1) {
      width: 50%;
      background: url(../img/box2/photo1.1.png) center top no-repeat; }
    main .box2 > ul li:nth-of-type(1) ul li:nth-of-type(2) {
      width: 50%;
      background: url(../img/box2/photo1.3.png) center top no-repeat; }
    main .box2 > ul li:nth-of-type(1) ul li:nth-of-type(3) {
      width: 100%;
      background: url(../img/box2/photo1.png) center top no-repeat; }
  main .box2 > ul li:nth-of-type(2) {
    background: url(../img/box2/photo2.png) center top no-repeat; }
  main .box2 > ul li:nth-of-type(3) {
    background: url(../img/box2/photo3.png) center top no-repeat; }
  main .box2 > ul li:nth-of-type(4) {
    background: #000; }
    main .box2 > ul li:nth-of-type(4) ul li {
      height: 265px; }
    main .box2 > ul li:nth-of-type(4) ul li:nth-of-type(1) {
      width: 100%;
      background: url(../img/box2/photo4.png) center center no-repeat; }
    main .box2 > ul li:nth-of-type(4) ul li:nth-of-type(2) {
      width: 50%;
      background: url(../img/box2/photo4.1.png) center center no-repeat; }
    main .box2 > ul li:nth-of-type(4) ul li:nth-of-type(3) {
      width: 50%;
      background: url(../img/box2/photo4.2.png) center center no-repeat; }
  main .box2 > ul li:first-of-type, main .box2 > ul li:last-of-type {
    width: 533px; }
